.navigation {
  background-color: #333;
  padding: 1rem;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation div {
  margin: 0;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
  font-weight: bold;
}

.navigation div:hover {
  background-color: #555;
}
